

   
<body>
      <div class="container">
           <form novalidate [(formGroup)]="registrationForm" class="form-horizontal" name="myForm" id="myForm" (ngSubmit)="dataTable()"  >

           <h1>Candidate Registration</h1><br>

     
           <div hidden  class="form-group row">
              <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" >id</label>
              <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
              <input  type="text" class="form-control" formControlName="id" >
            </div>
            </div>
            <div class="form-group row">
           <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" >Candidate First Name</label>
                  <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                        <input  type="text" class="form-control" formControlName="firstName" autofocus placeholder="Enter First Name">
                        <div class="help-block" *ngIf="(( registrationForm.get('firstName').dirty) && registrationForm.get('firstName').errors)">
                        <div *ngIf="registrationForm.get('firstName').errors.required">
                               First Name is required
                        </div>
                        <div *ngIf="registrationForm.get('firstName').errors.minlength ">
                               First Name must be more than 2 characters
                        </div>
                    </div>
                    </div>
        </div>



            <div class="form-group row" >
                 <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Candidate Last Name*</label>
                        <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                             <input type="text" formControlName='lastName' class="form-control" name="lastName" id="lastName" placeholder="Enter Last Name" />
                             <span class="help-block" *ngIf="(( registrationForm.get('lastName').dirty) && registrationForm.get('lastName').errors)">
                             <span *ngIf="registrationForm.get('lastName').errors.required">
                             Last Name is required
                             </span>
                             </span>
                        </div>
            </div>
            
            <div class="form-group row" >
                 <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Email*</label>
                         <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                              <div class="input-group">
                                   <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-envelope"></span></span>
                                   <input type="email" formControlName='email' class="form-control"  aria-describedby="basic-addon3">
                              </div>
                        <span class="help-block" *ngIf="(( registrationForm.get('email').dirty) && registrationForm.get('email').errors)">
                        <span *ngIf="registrationForm.get('email').errors.required">
                             Email is required
                        </span>
                        </span>
                        </div>
            </div>

        
            <div class="form-group row" >
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Phone*</label>
                        <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12" >
                             <div class="input-group">
                                 <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-earphone"></span></span>
                                 <input type="number"  formControlName='phone' class="form-control" placeholder="Enter Mobile" aria-describedby="basic-addon1">
                             </div>
                            <span class="help-block" *ngIf="(( registrationForm.get('phone').dirty) && registrationForm.get('phone').errors)">
                            <span *ngIf="registrationForm.get('phone').errors.required">
                                   Phone Number is required
                            </span>
                            </span>
                         </div>
             </div>
            <div class="form-group row">
                 <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Date Of Birth*</label>
                        <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                             <div class="input-group">  
                                  <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                                  <input type="date" formControlName='dateOfBirth' class="form-control"   aria-describedby="basic-addon2" id="dateOfBirth">
                             </div>
                                  <span class="help-block"  *ngIf="(( registrationForm.get('dateOfBirth').dirty) && registrationForm.get('dateOfBirth').errors)">
                                  <span *ngIf="registrationForm.get('dateOfBirth').errors.required">
                                        Date Of Birth  is required
                                  </span>
                                  </span>
                         </div>
            </div>


            <div class="form-group row" >
                 <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Experience*</label>
                         <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                              <input type="number" formControlName='experience' class="form-control" name="experience" id="experience" placeholder="In Months"  />
                              <span class="help-block" *ngIf="(( registrationForm.get('experience').dirty) && registrationForm.get('experience').errors)">
                              <span *ngIf=" registrationForm.get('experience').errors.required">
                                    Experience is required.  
                              </span>
                              <span *ngIf="registrationForm.get('experience').errors.NotAllowed ">
                                    Experience must be Between 6 months and 10 years
                              </span>
                              </span>

                         </div>
            </div>

            

           

            <div class="form-group row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button  type="submit" [disabled]="registrationForm.invalid" class="btn btn-primary" >submit</button>
                    <button type="reset" class="btn btn-warning">cancel</button>
                </div>
            </div>

        </form>
    </div>
 </body>

        <div>
            <div class="checkelist">
                <div *ngIf="showTable">
                   
                    <h3>Ragistered Candidate Details  </h3>
                    <table class="table table-striped" >
                        <thead class="thead-dark">
                            
                            <tr>
                            <th>S.No.</th>
                            <th> Candidate Full Name</th>
                            <th>Contact Details</th>
                            <th>D.O.B.</th>
                            <th>Experience</th>
                            
                            
                            <th>Action</th>
                            </tr>
                        </thead>
                        
                        <tbody *ngFor="let recentDetails of dataToTable ;let i = index; ">
                    
                            <tr >
                                <td>{{i+1}}</td>
                                <td>{{recentDetails.firstName}} {{recentDetails.lastName}}</td>
                                <td>{{recentDetails.email}} <br>    {{recentDetails.phone}}</td>
                                <td>{{recentDetails.dateOfBirth}}</td>
                                <td>{{recentDetails.experience |convertMonthToYear }}</td>
                                
                                
                                <td>
                                    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil" (click)="setSelectedEmployee(recentDetails,i,recentDetails.id)">Edit</span></button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" (click)="deleteRow(recentDetails.id,i)">Delete</span></button>
                                </td>
                            </tr> 
                        
                         </tbody>
            </table>         </div> 



