<!-- <div *ngfor(let ob of storeData)>
<div *ngIf="ob.stock<10">
<input type="number"  #stockInput />
<a type="submit" class="btn btn-danger"  (click)="sendData(stockInput)" value="change stock"><span class="glyphicon glyphicon-pencil"></span></a>
</div>
</div> -->

<!-- <div *ngFor="let data of storeData">
    <div
    *ngIf="data.stock>10;then showBlock; else notShowBlock">
   </div>
  
  <ng-template #showBlock>
    <p *ngIf="data.id==bookId">
      
<input  type="number"  #stockInput />
<a type="submit" class="btn btn-success"  (click)="sendData(stockInput,bookId)" value="change stock"><span class="glyphicon glyphicon-pencil"></span>Update Value</a>
    </p>
  </ng-template>
  
  <ng-template #notShowBlock>
   <p *ngIf="data.id==bookId">
<input type="number"  #stockInput />
<a type="submit" class="btn btn-danger"  (click)="sendData(stockInput,bookId)" value="change stock"><span class="glyphicon glyphicon-pencil"></span>Update Value</a>
 </p>
</ng-template>
</div> -->

<input type="number"  #stockInput />
<a type="submit" [class]="ButtonClass()"  (click)="sendData(stockInput)" ><span class="glyphicon glyphicon-pencil"></span>Update Value</a>
