
  
  body {
  margin : 0;
  }
h1{
  margin-top: -0cm;
  background-color: darkgrey;
  color: #f2f2f2;
  text-align: center;

  color:black;
}
  
  /* Style the top navigation bar */
  .topnav {
margin-top: -0.25cm;
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
