<div class="header">
    <h1>Welcome To Training Session</h1>
    <!-- <h2>Message from child:{{messege}} </h2> -->
  </div>
  
<!-- <router-outlet></router-outlet>
<app-child [parentData]="name" (childEvent)="messege=$event"></app-child>

<app-younger-child [brotherData]="messege" ></app-younger-child> -->

<!-- <app-reactive-registration></app-reactive-registration> -->


<div class="topnav">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/template" routerLinkActive="active">Template</a>
  <a routerLink="/reactive" routerLinkActive="active">Candidate Details</a>
  
  <a routerLink="/scheduleinterview" routerLinkActive="active">Schedule Interview</a>
  <a routerLink="/scheduleinterviewdetails" routerLinkActive="active">Schedule Interview Details</a>
 </div>
<!-- <app-registration></app-registration> -->
<!-- <app-bookdepository></app-bookdepository> -->
<!-- <app-courses></app-courses> -->
<!-- <input type="text" [appHighlight]="input"   #input> -->



<router-outlet></router-outlet>