<!-- <p>younger-child works!</p> -->
<!-- <h2>Messege from elder brother:{{brotherData}}</h2> -->

<div>
    <ul *ngFor="let employees of employee">
      <li>{{employees.id}}  {{employees.name}}</li>
    </ul>
  </div>