#txt_LastName{background-color:white;}
body
{
background-image: url(job.jpg) ;

margin-left: 30% 


}
#marq_info{
	margin-left: 310px;
	margin-top: 100px;
	background-image: url(image.jpg );

    
}
.btn_submit
{
	background-color:lightblue;
	border-radius: 200px;
}
#x{border-radius: 200px;}
.btn_reset
{
	background-color:lightblue;
	border-radius: 200px;
}

#body_Division
{
	margin-top: -200;
	border: solid 5px black;
	padding-left : 10%;
	margin-right: 300px;
	margin-left: -100px;
	}
#txt_LastName
{
	margin-left: 52px;
	}
#txt_Name
{
	margin-left: 50px;
}
#add_UserAddress
{
	margin-left: 69px;
	}
#email_Email
{
	margin-left: 83px;
	}
#date_DOB
{
	margin-left: 37px;
	}
#int_PhoneNumber
{
	margin-left: 29px;
	}
	