﻿@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>UserName</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Addstate</th>
        <th>Action</th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>
                <input type=" button" >
                <a href="@Url.Action("Edit", "Product", new {@id=@Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete", "Product", new {@id=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }

    <a href="@Url.Action("Create","Product")">Add Product</a>