﻿
@{
    ViewData["Title"] = "Login";
}



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Login Form</h2>
            <form asp-action="login" method="post">
                <div class="form-group">
                    <label>User Name </label>
                    <input type="text" class="form-control" id="userName" name="userName" />

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <div class="form-check">
                    <button type="reset" class="btn btn-info">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>