﻿@model DataLayer.Entities.Cities

@{
    ViewData["Title"] = "Create";
}

<h2>Add City</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select id="stateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="States.State" class="control-label"></label>
                <select id="stateName"asp-for="States.State" class="form-control" asp-items="ViewBag.State"></select>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

