﻿@model System.Data.DataTable

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>id</th>
        <th>UserName</th>
        <th>Addstate</th>
        <th>Action</th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
    <tr>
        <td>@Model.Rows[i][0]</td>
        <td>@Model.Rows[i][1]</td>
        <td>@Model.Rows[i][2]</td>
        
        
        <td>
          @*<button type="button" onclick="" >Edit</button>*@
            <a href="@Url.Action("Edit", "DataSet", new {@id=@Model.Rows[i][0] })">Edit</a>
            <a href="@Url.Action("Delete", "DataSet", new {@id=@Model.Rows[i][0] })">Delete</a>
        </td>
    </tr>
    }

    <a href="@Url.Action("Create","DataSet")">Add Data</a>
