﻿@model WebApplication7.Models.EmployeeModel

@{
    ViewData["Title"] = "Edit";
}





<h2 style="margin-left:50%;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Edit Details</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-horizontal" style="margin-left:300px; width:500px ">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row ">
                <label class="col-md-5 font-weight-bold col-form-label" for="UserName" asp-for="UserName">Name</label>
                <div class="col-md-7">
                    <input id="UserName" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DOB" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input type="date" asp-for="DOB" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-5 font-weight-bold col-form-label" asp-for="Phone"></label>
                <div class="col-md-7">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    ,
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-5 font-weight-bold col-form-label" asp-for="Emial"></label>
                <div class="col-md-7">
                    <input asp-for="Emial" class="form-control" />
                    <span asp-validation-for="Emial" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="State" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-sm-7">


                    <select asp-for="State" class="form-control" id="state" asp-items="ViewBag.state ">

                        <option value="" disabled selected>Select State</option>

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="City" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-sm-7">
                    <select asp-for="City" id="city" class="form-control getcity" asp-items="ViewBag.City"></select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Zip" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="Zip" class="form-control" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DepartmentName" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <select id="name" asp-for="DepartmentName" class="form-control" asp-items="ViewBag.DepartmentName">

                        <option value="" disabled selected>Select State</option>
                    </select>
                </div>
            </div>
            <div hidden class="form-group row">
                <label asp-for="DepartmentId" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <select id="did" asp-for="DepartmentId" class="form-control"></select>
                </div>
            </div>




            <div class="form-group row">
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>


<div>
    <a class="btn btn-light" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span>Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}









