﻿@model IEnumerable<WebApplication7.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<h2><div class="text-left"> Data</div> <div class="text-right"> <a class="btn btn-primary" asp-action="Create">Create New</a> </div></h2>

<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.UserName)</a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Phone)

                <td>

                    <a class="btn btn-info" onclick="PopupFun(@item.Id)"><span class="glyphicon glyphicon-pencil"></span></a>
                    |
                    <button class="btn btn-danger" onclick="myFunction(@item.Id)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>
    function PopupFun(id) {

        $.ajax({

            type: "GET",
            url: "https://localhost:44343/employees/Edit/" + id,
            success: function (res) {

                $(".modal-body ").html(res);
                $("#from-modal").modal('show');

            }
        });
    }

</script>