

   
<body>
    <div class="container">
         <form novalidate [(formGroup)]="scheduledInterview" class="form-horizontal" name="myForm" id="myForm" (ngSubmit)="dataTable()"  >

         <h1>Schedule Interview</h1><br>

   
         <div hidden  class="form-group row">
            <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" >id</label>
            <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
            <input  value="1" type="text" class="form-control" formControlName="id" >
          </div>
          </div>
          <div class="form-group row">
         <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" >Candidate Id</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                      <select  class="form-control" formControlName="candidateId"  >
                      <option  *ngFor="let data of selectData"  [value]="data.id">{{data.name}}({{data.id}})</option>
                    </select>
                      <div class="help-block" *ngIf="(( scheduledInterview.get('candidateId').dirty) && scheduledInterview.get('candidateId').errors)">
                      <div *ngIf="scheduledInterview.get('candidateId').errors.required">
                        Candidate Id is required
                      </div>
                      
                  </div>
                  </div>
      </div>



          <div class="form-group row" >
               <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Strat Date Time</label>
                      <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                           <input type="date" formControlName='stratDateTime' class="form-control"   />
                           <span class="help-block" *ngIf="(( scheduledInterview.get('stratDateTime').dirty) && scheduledInterview.get('stratDateTime').errors)">
                           <span *ngIf="scheduledInterview.get('stratDateTime').errors.required">
                            Strat Date Time is required
                           </span>
                           </span>
                      </div>
          </div>
          
          <div class="form-group row" >
               <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">End Date Time*</label>
                       <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                            
                                 
                                 <input type="date" formControlName='endDateTime' class="form-control" >
                            
                      <span class="help-block" *ngIf="(( scheduledInterview.get('endDateTime').dirty) && scheduledInterview.get('endDateTime').errors)">
                      <span *ngIf="scheduledInterview.get('endDateTime').errors.required">
                        End Date Time is required
                      </span>
                      </span>
                      </div>
          </div>

      
    <div class="form-group row">
               <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12"> Interviewer Name</label>
                      <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                           <input type="text" formControlName='interviewerName'  class="form-control"  placeholder="Enter Interviewer Name" />
                      </div>
          </div>

          <div class="form-group row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button  type="submit" [disabled]="scheduledInterview.invalid" class="btn btn-primary" >submit</button>
                  <button type="reset" class="btn btn-warning">cancel</button>
                
              </div>
          </div>

      </form>
  </div>
</body>

      <div>
        <div>
          <div class="checkelist">
              <div *ngIf="showTable">
                 
                  <h3>Ragistered Candidate Details  </h3>
                  <div  class="table-responsive">                
                        <table class="table table-striped" >
                      <thead class="thead-dark">
                          
                          <tr>
                          <th>S.No.</th>
                          <th> Candidate Id</th>
                          <th>Interview Start Date</th>
                          <th>Interviewer End Date</th>
                          
                          
                          <th>Interviewer Name</th>
                          <th>Action</th>
                          </tr>
                      </thead>
                      
                      <tbody *ngFor="let recentDetails of dataToTable ;let i = index; ">
                  
                          <tr >
                              <td>{{i+1}}</td>
                              <td>{{recentDetails.candidateId}} </td>
                              <td>{{recentDetails.stratDateTime}} </td>
                              <td>{{recentDetails.endDateTime}}</td>
                              <td>{{recentDetails.interviewerName }}</td>
                              <td>
                                  <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil" (click)="setSelectedEmployee(recentDetails,i)">Edit</span></button>
                                  <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" (click)="deleteRow(recentDetails.id,i)">Delete</span></button>
                              </td>
                          </tr> 
                      
                       </tbody>
          </table> 
        </div>

        </div> 
    
</div>

