<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="/" routerLinkActive="active">Home</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink routerLink="/Registraion" routerLinkActive="active">User Registraion</a>

  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink routerLink="/UserDetails" routerLinkActive="active">User Information</a>
  </li>
  
  <li [ngbNavItem]="4">
    <a ngbNavLink routerLink="/Login" routerLinkActive="active">Login</a>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink routerLink="/Admin" routerLinkActive="active">Admin</a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<router-outlet></router-outlet>
