<p>pipes works!</p>
<p>The is date pipe {{ birthday | date }}</p>

<p>The is date pipe with format {{ birthday | date:"dd/yy"  }}</p>
<p>The is date pipe with format and chaining of pipes {{ birthday | date:"fullDate"| uppercase  }}</p>
<p>The is lowecase format {{sentence | lowercase  }}</p> 
<p>currency pipe={{123|currency:"CAD"}}</p>  
<p>currency pipe={{ 1234.56 | currency:"CAD":"symbol-narrow" }}</p>
<p>decimal digit managind pipe {{ 3.14159265 | number: '3.1-3' }}</p>
<p>Json type value using pipe={{data|json}}</p>
<p>percent pipe={{ 0.123456 | percent }}</p>
<p>slice pipe={{ [1,2,3,4,5,6] | slice:2:5 }}</p>
<input type="number" #inputValue/>
<button class="btn btn-primary"  (click)="number=inputValue">Find Factorial</button>
<p>the factorial ={{ number | factorial }} </p>