<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Image Cropper</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-image-cropper [imageChangedEvent]="imageChangedEvent" (sendCroppedImage)="croppedImage=$event">
    </app-image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>





<div class="login">
  <div class="container iner-login px-3 py-5 d-flex justify-content-center align-items-center">
    <div class="shadow login-wrap">
      <h3>Register</h3>
      <form #ragistrationForm='ngForm' class="mt-4" name="myForm" id="myForm" (ngSubmit)="postNewUser(ragistrationForm)"
        enctype="multipart/form-data" method="post">
        <div class="form-group row">
          <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" style="font-weight: bold;">Name</label>
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <div class="input-group">
              <input type="text" name="name" class="form-control" id="name" ngModel />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" style="font-weight: bold;">Email</label>
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <div class="input-group">
              <input type="email" name="email" class="form-control" id="email" ngModel>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12" style="font-weight: bold;">Password</label>
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <div class="input-group">
              <input type="password" name="password" class="form-control" id="password" ngModel>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-6 col-md-6 col-sm-9 col-xs-12" style="font-weight: bold;">DateOf Birth</label>
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dateOfBirth" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker" ngModel>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-7 col-md-7 col-sm-9 col-xs-12" style="font-weight: bold;">Contact Number</label>
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <div class="input-group">
              <input type="text" name="contactNumber" class="form-control" prefix="+(91) " mask="00-0000-0000"
                id="emcontactNumberail" ngModel>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-6 col-md-6 col-sm-9 col-xs-12" style="font-weight: bold;">Upload Image</label>
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <div class="input-group">
              <input style="display: none;" type="file" name="userImage" (change)="selectFile($event,content)"
                #fileInput ngModel>
              <button type="button" (click)="fileInput.click()" [class]="uploadButtonClass()">Choose File</button>

            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="w-100 col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
