.iner-login{
    min-height: calc(100vh - 270px);
    flex-flow: column;
    .login-wrap{
        width: 40%;
        background-color: #f9f9f9;
        border-radius: 6px;
        padding: 50px;
        text-align: center;
        .w-100{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}