
<br>
<br>
<h3 class="text-center"> Manage stocks</h3>
    <div class="tab">
      <table class="table table-striped" >
      
      <thead class="thead-dark">
        <tr>
            <th>
               Id
            </th>

            <th>
                Name
            </th>

            <th>Stock</th>
        
        <th>Update Stock
        </th>
        </tr>
    </thead>

    <tbody  *ngFor="let valueAt of data">
     
        
            <tr>
                <td>
                    {{valueAt.id}} 
                </td>

                <td>
                 {{valueAt.name}}

                <td>
                  {{valueAt.stock}}
                </td>
                <td>
                  <app-bookstore [bookId]="valueAt.id" [stockAvailable]="valueAt.stock" (updatedStock)="valueSet($event)"></app-bookstore>
                  
                  </td>
                </tr>     
    </tbody>
</table> 
</div>