﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-left">
   <h1>Data</h1>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
            States
            </th>

            <th>
                City
            </th>

           
        </tr>
    </thead>
    <tbody>
       
        
            <tr>
                <td>
                    <a class="btn btn-primary" asp-controller="States" asp-action="index">Manage States</a>
                </td>

                <td>
                    <a class="btn btn-primary" asp-controller="Cities" asp-action="index">Manage Cities</a>
                </td>
                
            </tr>
       
    </tbody>
</table>
<div>

</div>