﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome</h3>
    <div class="row">
        <div class="ccol-md-12">
            <h2>Home Page</h2>
            Hello @User.Identity.Name
            <a asp-action="Logout" asp-controller="account">Logout</a>

        </div>
    </div>
</div>
