
<br>
<br>
<div class="text-center ">
  <h1 >Welcome to {{option.name | uppercase}} training </h1>
    <br>
    <br>

<div  class="form-group row" ><label >Name : 
    <input  class="input-lg" [(ngModel)]="option.name" placeholder="Name"/>
</label> </div>
<input class="btn btn-primary" value="Save"  (click)='myFunction()' />

</div>


<div class="topnav">
  <a href="#" (click)="register()">New Registration</a>
  <a href="#" (click)="lists()">Courses</a>
  <a href="#" (click)="para()" >About</a>
 

</div>

<select (change)="myVar=changes($event)" >
  <option value="online" >online</option>
  <option value="offline">offline</option>
  
</select>
<div [ngSwitch]="myVar">

  <div *ngSwitchCase="offline">
     <h1>Tutorials</h1>
     <p>You choose offline classes</p>
  </div>
  <div *ngSwitchCase="online">
     <h1>Tutorials</h1>
     <p>You choose online classes</p>
  </div>
  <div *ngSwitchDefault>
 
     <p>You choosen online learning</p>
  </div>
</div>
<label >New Registration</label>
<input type="checkbox" (click)="fun($event)"/>
<body   >
  <div class="register">
   
<div *ngIf="checked" >
  <h3 [style.background-color]='backColor'><b >Register</b></h3>
  <div class="form-group row">
  <label class="col-md-4 font-weight-bold col-form-label">Name : </label>
  <div class="col-md-4">
  <input class="form-control" type="text"  placeholder="Name"/> 
  </div>
  </div>
  <div class="form-group row">
  <label class="col-md-4 font-weight-bold col-form-label">Date Of Birth:</label>
  <div class=col-md-4 >
  <input class="form-control" type="date" placeholder="D.O.B."/>
  </div> 
</div>
<div class="form-group row">
  <label class="col-md-4 font-weight-bold col-form-label">Phone : </label>
  <div class="col-md-4">
  <input class="form-control" type="number"  placeholder="0000000000"/> 
  </div>
  </div>
  <div class="col-md-4">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
</div>
</div>
</body>




<div class="checkelist">
  <div *ngIf="list">
    <h3><b>We Provode These Courses</b></h3>
    <ul class="courses" >
      <li *ngFor="let course of ob"><span class="badge">{{course.id}}</span>
        {{course.name}}
        </li>
  </ul>
</div>
      </div>

      <div class="para">
      <div *ngIf="about"> 
        <h3><b>About Successive</b></h3>
        <p>
          Successive delivers targeted domain solutions and comprehensive services, from strategy and business consulting to technology and operations, using off-shore resources and global project management tools, methods and standards. Successive makes technology more intelligent by embedding it with processes, data insights, and analytics to its solutions and services.

          With more than a decade of domain expertise, Successive is one of the leading technology services providers for various industry segments including the government and public sector. Today Successive is a fast-growing young leader in business process management and technology services, which leverages the power of intelligent processes, in-depth analytics and innovative technology to help its clients drive efficiency across their enterprise.
          
          SERVICES
          </p>
          </div>
          </div>

       <div class="elseif">
         <div
         *ngIf="show;then showBlock; else notShowBlock">
        </div>
       
       <ng-template #showBlock>
         <p>
           Show this only if "show" is true
         </p>
       </ng-template>
       
       <ng-template #notShowBlock>
         <p>
           Show this only if "show" is not true
         </p>
       </ng-template>
</div>


<body >
<input type="number"  id="checkNumber" />
<input type="submit" value="Check" (click)="evenOdd()" class="btn btn-primary" />
<div *ngIfEven="value">
  <h1> Even number </h1>
  </div>
  </body>

  <div>
    <label  for="Name">Name</label>
    <input appHighlight="$event"   type="text" #nameInput>
    <button (click)="onSaveName(nameInput)">Save Name</button>
    </div>