* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
      margin-top: -7.5cm;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .elseif{
    margin-top: -15cm;
  }
 

 .checkelist{
margin-top: -7cm;
margin-left: 15cm;
font-size: 25px;
 }
 .register{
    margin-top: 10cm;
    margin-left: 1cm;
    font-size: 25px;
    margin-right: 30cm;
  border-style: double;
 }
 .para{
    margin-top: -7cm;
    margin-left: 25cm;
    font-size: 15px;

 }