

<div>
    <div>
      <div class="checkelist">
          <div *ngIf="showTable">
             
              <h3>Ragistered Candidate Details  </h3>
              <div  class="table-responsive">                
                    <table class="table table-striped" >
                  <thead class="thead-dark">
                      
                      <tr>
                      <th>S.No.</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Experience</th>
                      <th>Date Of Birth</th>
                      <th>Interview Start Date</th>
                      <th>Interviewer End Date</th>
                      <th>Interviewer Name</th>
                      <th>Action</th>
                      </tr>
                  </thead>
                  
                  <tbody *ngFor="let recentDetails of dataToTable ;let i = index; ">
              
                      <tr >
                          <td>{{i+1}}</td>
                          <td> {{recentDetails.firstName}}</td>
                          <td>{{recentDetails.lastName}}</td>
                          <td>{{recentDetails.email}}</td>
                          <td>{{recentDetails.phone}}</td>
                          <td>{{recentDetails.experience|convertMonthToYear}}</td>
                          <td>{{recentDetails.dateOfBirth}}</td>
                          <td>{{recentDetails.stratDateTime}} </td>
                          <td>{{recentDetails.endDateTime}}</td>
                          <td>{{recentDetails.interviewerName }}</td>
                    
                         
                          <td>
                              <button  routerLink="/candidateinterviewschedule" routerLinkActive="active" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" (click)="setSelectedEmployee(recentDetails)">Edit</span></button>
                             
                              <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" (click)="deleteRow(recentDetails.id,i)">Delete</span></button>
                          </td>
                      </tr> 
                  
                   </tbody>
      </table> 
    </div>

    </div> 

</div>

<router-outlet></router-outlet>