﻿@model IEnumerable<DataLayer.Entities.Department>

@{
    ViewData["Title"] = "Index";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="text-left">
    <h2>Data &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a class="btn btn-primary" asp-action="Create">Create New</a> </h2> 
</div>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
                
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Employees" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.DepartmentName)</a>
            </td>
            <td>
                <a  class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               |
                <a class="btn btn-danger" onclick="myFunction(@item.Id)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>



    function myFunction(id) {

        var r = confirm("Confirm Delete?");
        if (r == true) {
            x(id);
        }
    }


    function x(id) {


        $.ajax({
            type: "DELETE",
            url: "https://localhost:44343/api/Departments/" +id,
            contentType: "Application/json;charset=utf-8",
            success: function () { window.location.reload(); }
        });


    }

</script>