<div>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3" [resizeToWidth]="256"
      [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" 
      [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      ></image-cropper>
  </div>