
<body>
    

    <div class="container">
        <form novalidate #ragistrationForm='ngForm' class="form-horizontal" name="myForm" id="myForm" (ngSubmit)="dataTable(ragistrationForm)"  >

            <h1>Candidate Registration</h1><br>


            <div class="form-group row">
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Candidate First Name*</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="text"  [(ngModel)]='model.firstName' class="form-control" name="fName" id="fName"  placeholder="Enter First Name"  #fname='ngModel' required/>
                    <div [hidden]='fname.valid || fname.pristine' class="alert alert-danger">first name is reqired</div>
                 </div>
            </div>
            <div class="form-group row">
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Candidate Last Name*</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
     <input type="text"[(ngModel)]='model.lastName' class="form-control" name="lastName" id="lastName" placeholder="Enter Last Name" #lastName required/>
     <div [hidden]='lastName.valid || !lastName.pristine' class="alert alert-danger">Last Name is reqired</div>
    </div>
           </div>
            
            <div class="form-group row">
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Email*</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="email" [(ngModel)]='model.email' class="form-control" name="email" id="email" #email required />
                    <div [hidden]='email.valid || !email.pristine' class="alert alert-danger">email is reqired</div>
                </div>
                
            </div>

            <div class="form-group row">
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Phone*</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="number" [(ngModel)]='model.phone' class="form-control" name="phone" id="phone" placeholder="Enter Mobile" #phone required/>
                    <div [hidden]='phone.valid || !phone.pristine' class="alert alert-danger">Contact Number is reqired</div>
                

                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Date Of Birth*</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="date" [(ngModel)]='model.dateOfBirth' class="form-control" name="birthday" id="birthday" #birthday required  />
                    <div [hidden]='birthday.valid || !birthday.pristine' class="alert alert-danger">Date of birth   is reqired</div>

                </div>
            </div>


            <div class="form-group row">
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Experience</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="number" [(ngModel)]='model.experience' class="form-control" name="experience" id="experience" placeholder="In Months"  />
                  

                </div>
            </div>

            <div class="form-group row">
                <label  class="col-lg-4 col-md-6 col-sm-9 col-xs-12">start Date *</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="date" [(ngModel)]='model.dateOfJoining' class="form-control " name="dateOfJoining" id="dateOfJoining" #dateOfJoining required  />
                    <div [hidden]='dateOfJoining.valid || !dateOfJoining.pristine' class="alert alert-danger">Start Date Time   is reqired</div>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12"> Interviewer Name</label>
                <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
                    <input type="text" [(ngModel)]="model.interviewerName" class="form-control" name="interviewerName" id="interviewerName" autofocus placeholder="Enter Interviewer Name" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button  type="submit" [disabled]="!ragistrationForm.form.valid" class="btn btn-primary" >submit</button>
                    <button type="reset" class="btn btn-warning">cancel</button>
                </div>
            </div>

        </form>
        </div>
        </body>

        <div>
            <div class="checkelist">
                <div *ngIf="showTable">
                    <h3>Ragistered Candidate Details</h3>
                    <table class="table table-striped" >
                        <thead class="thead-dark">
                            
                            <tr>
                            <th> Candidate Full Name</th>
                            <th>Contact Details</th>
                            <th>D.O.B.</th>
                            <th>Experience</th>
                            <th>Start Date Time</th>
                            <th>Interviewer Name</th>
                            </tr>
                        </thead>
                        
                        <tbody *ngFor="let recentDetails of dataArray">
                    
                            <tr >
                                <td>{{recentDetails.fName}} {{recentDetails.lastName}}</td>
                                <td>{{recentDetails.email}} <br>    {{recentDetails.phone}}</td>
                                <td>{{recentDetails.birthday}}</td>
                                <td>{{recentDetails.experience |convertMonthToYear }}</td>
                                <td>{{recentDetails.dateOfJoining}}</td>
                                <td>{{recentDetails.interviewerName}} </td>
                            </tr> 
                        
                         </tbody>
            </table> 
        </div>


