<body>
  <div class="container">
    <form #LoginForm='ngForm' class="form-horizontal" name="myForm" id="myForm"
      (ngSubmit)="userLoginAuthentication(LoginForm)">
      <h1>Candidate Registration</h1>
      <div class="form-group row">
        <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Email</label>
        <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
          <input type="email" class="form-control" name="email" id="email" ngModel required />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-4 col-md-6 col-sm-9 col-xs-12">Password</label>
        <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
          <input type="password" class="form-control" name="password" id="password" ngModel required />
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</body>
