
  <div class="text-right">
  <button type="button" class="btn btn-danger" (click)="logout()" >Logout</button>
</div>
      

<div class="checkelist">
  <div>

    <h3>Ragistered Candidate Details </h3>
    <div class="table-responsive">
      <table class="table table-striped">

        <thead class="thead-dark">

          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>Contact Number</th>
            <th>Image</th>
            <th>Action</th>
            
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="  let i =index ;let recentDetails of userInfo ">
            <td>{{i+1+((tableModel.Page-1)*tableModel.pageSize)}}</td>
            <td>{{recentDetails.name}}</td>
            <td>{{recentDetails.email}}</td>
            <td>{{recentDetails.dateOfBirth | mask:'0000/00/00'}}</td>
            <td>{{recentDetails.contactNumber | mask: '(000) 000-0000' }}</td>
            <td><img src="https://localhost:44342/Images/{{recentDetails.userImageGuid}}"></td> 
            <td> <button class="btn btn-danger" (click)="deleteRow(recentDetails.id,i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="totalRecords" [(page)]="tableModel.Page" [pageSize]="tableModel.pageSize"
    (pageChange)="getUserData()">
  </ngb-pagination>
</div>
